### dotfiles
*
**
!/.config/autostart/
!/.config/bspwm/
!/.config/gtk-3.0/
!/.config/kitty/
!/.config/nemo/
!/.config/nvim/
!/.config/obs-studio/
!/.config/picom/
!/.config/polybar/
!/.config/sxhkd/
!/.config/zathura/
!/.config/user-dirs.dirs
!/.conky/
!/.vim/
!/.zshrc
!/.xinitrc
!/.gitignore

# --- FAQ:
#
#   : Can I safely use `git reset`?
#     Yes, you can. Even when using `git reset --hard`, the only files which
#     will be touched by git are the ones listed here.
#
#   : How can I see which on-disk files may be touched by git?
#     Use the command:
#
#         ( git status --short | grep '^?' | cut -d" " -f2- && git ls-files ) | sort -u`
#
#     That will list all files which git is currently aware of (i.e. files in
#     the current commit + files being staged + files on disk).
#
#   : Will this be slow with a large home folder?
#     No, it won't. This is because the `/**` ignore prevents git from even
#     scanning the directories.
#
#   : Will this gitignore file interfere with my repositories?
#     No.
