/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "wofi.css", dst = "~/.config/wofi/colors.css" }
 */

:root {
    --wallpaper: url("Aura");

    /* Special */
    --background: #15141B;
    --foreground: #EDECEE;
    --cursor: #EDECEE;

    /* Colors */
    --color0:  #110F18;
    --color1:  #FF6767;
    --color2:  #61FFCA;
    --color3:  #FFCA85;
    --color4:  #A277FF;
    --color5:  #A277FF;
    --color6:  #61FFCA;
    --color7:  #EDECEE;
    --color8:  #6D6D6D;
    --color9:  #FFCA85;
    --color10: #A277FF;
    --color11: #FFCA85;
    --color12: #A277FF;
    --color13: #A277FF;
    --color14: #61FFCA;
    --color15: #EDECEE;
}
