/* CSS variables for wlogout
 * You can add it to wallust.toml with:

waybar = { src = "wlogout.css", dst = "~/.config/wlogout/colors.css" }

 * And then in you wlogout 'style.css' file, import it with:

@import url("colors.css");
 */

@define-color cursor #EDECEE;
@define-color background #15141B;
@define-color foreground #BEBDBE;
@define-color color0  #110F18;
@define-color color1  #FF6767;
@define-color color2  #61FFCA;
@define-color color3  #FFCA85;
@define-color color4  #A277FF;
@define-color color5  #A277FF;
@define-color color6  #61FFCA;
@define-color color7  #EDECEE;
@define-color color8  #6D6D6D;
@define-color color9  #FFCA85;
@define-color color10 #A277FF;
@define-color color11 #FFCA85;
@define-color color12 #A277FF;
@define-color color13 #A277FF;
@define-color color14 #61FFCA;
@define-color color15 #EDECEE;
