/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "wofi.css", dst = "~/.config/wofi/colors.css" }
 */

:root {
    --wallpaper: url("Wild-Cherry");

    /* Special */
    --background: #1F1726;
    --foreground: #DAFAFF;
    --cursor: #DAFAFF;

    /* Colors */
    --color0:  #000507;
    --color1:  #D94085;
    --color2:  #2AB250;
    --color3:  #FFD16F;
    --color4:  #883CDC;
    --color5:  #ECECEC;
    --color6:  #C1B8B7;
    --color7:  #FFF8DE;
    --color8:  #009CC9;
    --color9:  #DA6BAC;
    --color10: #F4DCA5;
    --color11: #EAC066;
    --color12: #308CBA;
    --color13: #AE636B;
    --color14: #FF919D;
    --color15: #E4838D;
}
