/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "wofi.css", dst = "~/.config/wofi/colors.css" }
 */

:root {
    --wallpaper: url("/home/pxlman/Pictures/Wallpapers/MuirWoods_1920x1080.jpg");

    /* Special */
    --background: #292527;
    --foreground: #F5F7FE;
    --cursor: #CDB47F;

    /* Colors */
    --color0:  #555053;
    --color1:  #6E6B56;
    --color2:  #B18524;
    --color3:  #859584;
    --color4:  #B58F93;
    --color5:  #C3CE3A;
    --color6:  #E3E9FC;
    --color7:  #E9ECF5;
    --color8:  #A3A5AC;
    --color9:  #6E6B56;
    --color10: #B18524;
    --color11: #859584;
    --color12: #B58F93;
    --color13: #C3CE3A;
    --color14: #E3E9FC;
    --color15: #E9ECF5;
}
